/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.1);
  border-radius: 4px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Leaflet Overrides */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}
/* Fix Leaflet controls z-index in dark mode or overlays */
.leaflet-bottom, .leaflet-top {
  z-index: 999 !important; 
}